.imp {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}

.boxes{
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  border-radius: 3px;
  height:250px;
  background-color:black;
  border-radius:10%;
  width:250px;
}
.boxes:hover{
  /* background-color:#A2678A; */
  background:radial-gradient(#AEC3AE,#0f5579);
  transform: scale(1.08);
}

.boxes p{
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-decoration-line: none;
  margin-top: 5px;
}
.boxes .img {
  width: 150px;
  height: 150px;
}
.poster {
  width: 85%;
  margin:10px auto;
  height: 60vh;
  background: rgb(11, 106, 210);
  background: linear-gradient(
    18deg,
    rgba(11, 106, 210, 1) 0%,
    rgba(65, 135, 166, 1) 24%,
    rgba(255, 255, 255, 1) 62%
  );
}

.poster {
  display: flex;
  width: fit-screen;
}
.poster h1 {
  line-height: 350%;
  margin:50px;
  color: black;
  position: absolute;
  top: 30;
  font-family: "Pacifico", cursive;
  font-size: 40px;
  font-weight: 100;
}
  .doc-img {
    align-items: center;
    border-radius: 50px;
    margin: 30px 100px;
    position: absolute;
    right: 0;
    height: 60vh;
  }

  .imp{
    height: 400px;
  }

.doc-img {
  align-items: center;
  border-radius: 50px;
  margin: 30px 100px;
  position: absolute;
  right: 0;
  height: 60vh;
}

/* @media (max-width: 900px) {
  .imp {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .poster {
    width: 600px;
    justify-content: space-around;
  }
  .poster h1 {
    font-size: 20px;
    margin: 1px;
    margin-top: 30px;
  }
  .doc-img {
    width: 200px;
    align-items: end;
    margin-right: 30px;
  }
} */

@media (width<900px){
  .poster{
    width: 100%;
    height: 300px;
    display: flex;
  }
  .poster h1{
    font-size: 30px;
    line-height: 150%;
  }
  .doc-img{
    width: 200px;
    height: 200px;
  }
  .boxes{
    margin: 5px;
  }
  .imp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -200px;
  }
  .about-us{
    margin-bottom: -100px;
  }
}

@media (width<1500px){
  .poster{
    height: 600px;
  }
  .poster h1{
    font-size: 35px;
  }
  .doc-img{
    width: 500px;
    height: 500px;
  }
  .imp{
    margin-bottom: -200px;
  }
}

@media (width<=420px){
  .poster{
    width: fit-screen;
    height: 200px;
    display: flex;
  }
  .poster h1{
    font-size: 14px;
    line-height: 200%;
  }
  .doc-img{
    width: 150px;
    height: 150px;
  }
  .imp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .boxes{
    margin: 20px 0px;
  }
}

.body-main {
  align-items: center;
  width: fit-screen;
  z-index:1;
  background:linear-gradient(95deg,#E6FFFD,#AEE2FF,#ACBCFF,#B799FF);
  padding:20px;
  justify-content: space-between;
}

