.imp {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}

.boxes{
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  border-radius: 3px;
  height:250px;
  background-color:black;
  border-radius:10%;
  width:250px;
}
.boxes:hover{
  /* background-color:#A2678A; */
  background:radial-gradient(#AEC3AE,#0f5579);
  transform: scale(1.08);
}

.boxes p{
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-decoration-line: none;
  margin-top: 5px;
}
.boxes .img {
  width: 150px;
  height: 150px;
}
.image-container {
  position: relative;
  text-align: center;
  padding-top: 25px;
  height: 30%;
 
}
.image-container img{
  width:85%;
  height: 600px;
  border-radius: 100px;
}
.image-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 5%;
  text-align: start;
  margin-left: 15%;
}
.image-text h1{
  line-height: 300%;
}



/* 
@media (width<900px){
  .poster{
    width: 100%;
    height: 300px;
    display: flex;
  }
  .poster h1{
    font-size: 30px;
    line-height: 150%;
  }
  .doc-img{
    width: 200px;
    height: 200px;
  }
  .boxes{
    margin: 5px;
  }
  .imp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -200px;
  }
  .about-us{
    margin-bottom: -100px;
  }
}

@media (width<1500px){
  .poster{
    height: 600px;
  }
  .poster h1{
    font-size: 35px;
  }
  .doc-img{
    width: 500px;
    height: 500px;
  }
  .imp{
    margin-bottom: -200px;
  }
}

@media (width<=420px){
  .poster{
    width: fit-screen;
    height: 200px;
    display: flex;
  }
  .poster h1{
    font-size: 14px;
    line-height: 200%;
  }
  .doc-img{
    width: 150px;
    height: 150px;
  }
  .imp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .boxes{
    margin: 20px 0px;
  }
} */

.body-main {
  align-items: center;
  width: 100%;
  background:linear-gradient(95deg,#E6FFFD,#AEE2FF,#ACBCFF,#B799FF);
  padding:20px;
}